body {
  background-color: #EEEEEE;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

.table_header {
	text-align: center;
	vertical-align: middle;
	background: #636363;
	color: #fff;
    font-size: 12px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#nav_wrapper {
  font-size: 11px;
}

.sign_in {
  font-size: 40px;
	color: #6495ED;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.logo {
	float: left;
	text-align: left;
	background: url("/images/main/Clone_Systems_Managed_Security.jpeg") 15px 15px no-repeat;
	width: 260px;
	height: 70px;
}

.logo h1 {
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 265px;
    font-size: 40px;
	color: #47557F;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.nav {
	float: right;
	text-align: left;
/*  background-color: #F5F5DC;*/
}

.nav_text {
	color: #c0c0c0;
	padding-right: 2px;
}

.button.nav {
	width: 110px;
}

.field {
	clear: both;
}

.wide_left {
    height: 100%;
    width: 20%;
    float: left;
/*		border-bottom: 1px solid #000;*/
/*		padding-bottom: 15px;*/
		margin-bottom: 10px;
}

.filter_left {
    height: 100%;
    width: 8%;
    float: left;
		margin-bottom: 5px;
}

.filter_right {
    height: 100%;
    width: 70%;
    float: left;
		margin-bottom: 5px;
}

.left {
    height: 100%;
    width: 10%;
    float: left;
}

.right {
    height: 100%;
    width: 70%;
    float: left;
}

.actions {
	clear: both;
}

a img {
  border: none;
}

a {
  text-decoration: none;
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0px auto;

  background-color: #FFF;
  border: solid 1px #ddd;
  margin-top: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 0px #ddd;
  -moz-box-shadow: 0px 0px 2px 0px #ddd;
  box-shadow: 0px 0px 2px 0px #ddd;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

footer#page_footer {
	clear: both;
	height: 40px;
	background-color: #eee;
	display: block;
	text-align: center;
	font-size: 11px;
	margin: 0 auto;
	line-height: 40px;
	position: relative; 
	bottom: 0px;
	background: url("/images/main/box-bg.gif") repeat-x;
	width: 100%;
}

.footer_text {
	color: #7A7A7A;
	padding-left: 15px;
	padding-right: 5px;
}
