<% title "Help" %>
<p class="indent">
	<b>When is the best time to run a vulnerability scan?</b><br>
	It is best to run vulnerability scans after hours. In some cases, scanning may noticably impact server and network performance<br><br>

	<b>Why does the hostname not appear in the report?</b><br>
	Please make sure a forward and reverse DNS entry is setup for the IP address
</p>