<script>
	$(document).ready(function() { 
		$(".tablesorter").tablesorter(); 
	});
</script>

<% title "System Reports" %>
<article class="module">
	<header><h3>System Reports Overview</h3></header>
<table class="tablesorter" cellspacing="0">  
<thead> 
  <tr>
    <th class="first">Name</th>
    <th>Title</th>
  </tr>
</thead>
<tbody>
  <% for system_report in @system_reports %>
    <tr class=<%= cycle('even', 'odd')%>>
      <td>
		    <%= link_to system_report.name, system_report_path(system_report.name), :title => "view #{system_report.title}", :class => "details-button" %>
			</td>
      <td><%= system_report.title %></td>
    </tr>
  <% end %>
	</tbody>
</table>
</article>
