/* Main Horizontal Drop Down Menu */

.nav {
	width: 100%;
}

#ddm {
	list-style-type: none;
	background: url("/images/main/nav-repeat.png") repeat-x;
	text-align: center;
	display: block;
	overflow: hidden;
	clear: both;
	height: 39px;
	margin: 0px auto;
	z-index: 2;
}

#ddm li.first {
	border-left: 0;
}

#ddm li.last {
	border-right: 0;
}

#ddm li {
	float: left;
	display: block;
	height: 39px;
	border-left: 1px solid #3F5670;
	border-right: 1px solid #101E44;
	font-weight: bold;
}	

#ddm li a {
	display: block;
	height: 39px;
	line-height: 35px;
	padding: 0 30px;
	color: #dedede;
	text-shadow: 0px 1px 0px #000;
	font-size: 14px;
}

#ddm li a:hover {
	display: block;
	height: 39px;
	color: #fff;
	background-color: rgba(26, 110, 201, 0.2);
}
/* Drop Down menus */

		#ddm li ul{	
			margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			z-index: 1;
			border: 1px solid #aaa;
			border-top: 0;	
			-webkit-box-shadow: 0px 0px 5px 0px #999;
			-moz-box-shadow: 0px 0px 5px 0px #999;
			box-shadow: 0px 0px 5px 0px #999; 
		}


		#ddm li ul li, #ddm li ul li a{
			height: 30px;
			line-height: 30px;
		}

		#ddm li ul li {
			float: none;
			padding: 0;
			margin: 0;
			border-bottom: 1px solid #aaa;
			border: 0;
		}

		
		#ddm li ul li a{
			border: 0;
			color: #4A84BF;
			text-shadow: 0 -1px 0 #fff;
			text-align: center;
			background: #eee;
			width: auto;
			display: block;
			position: relative;
			z-index: 1;
font-weight: normal;
			text-decoration: none;
			padding: 0 5px;
			font-size: 12px;
			text-shadow: none;
		}
		
		#ddm li ul li a:hover{	
			background: #457FC1;
			color: #ff;
			text-shadow: 0 -1px 0 #000;
			height: 30px;
			line-height: 30px;
		}


