<script>
	$(document).ready(function() { 
		$(".tablesorter").tablesorter(); 
	});
</script>

<% title "NVT Feed Management" %>
<div><%= danger_rss_pill_button_link_to "Synchronize with Feed now", sync_feed_path %></div>
<article class="module">
	<header><h3>Feed Overview</h3></header>
<table class="tablesorter" cellspacing="0">  
<thead>   
	<tr>
    <th class="first">Name</th>
    <th>Version</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <% for nvt_feed in @nvt_feeds %>
    <tr>
      <td><%= nvt_feed.name %></td>
      <td><%= nvt_feed.version %></td>
      <td><%= nvt_feed.description %></td>
    </tr>
  <% end %>
	</tbody>
</table>
</article>
