<h4>Host Summary</h4>
<article class="Rmodule">
	<header><h3>Family Details</h3></header>
	<table class="tablesorter" cellspacing="0">
		<thead>
	<tr>
    <th class="first">Host</th>
    <th>Start</th>
    <th>End</th>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Log</th>
    <!-- <th>Debug</th> -->
    <th>False Positive</th>
    <th>Total</th>
  </tr>
   </thead>
  <tbody>
	<%= render :partial => 'each_host_summary', :collection => report.hosts %>
	<tr>
		<td>Total: <%= report.hosts.count %></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<% report.hosts_threat_totals.each do |t| %>
				<td><%= t %></td>
		<% end %>
	</tr>
  </tbody>
	</table>
</article>  
