<h4>Port Summary</h4>
<article class="Rmodule">
	<header><h3>Port Overview</h3></header>
	<table class="tablesorter" cellspacing="0">
		<thead> 
			<tr>
				<th class="first">Host</th>
				<th>Service (Port)</th>
				<th>Threat</th>
			</tr>
		</thead>
		<tbody>
  	<% report.ports.each do |p| %>
			<tr>
				<td><%= p.host %></td>
				<td><%= p.port %></td>
				<td><span class="<%= p.threat %>-icon"><%= p.threat %></span></td>
			</tr>
	<% end %>
		</tbody>
	</table>
</article>
